<br>
<div class="container">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><i class="bi bi-exclamation-triangle-fill"></i> Hata</h4>
  <p>{{m}}</p>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-outline-light" href="/">Anasayfa</a>
  </div><br>
</div>