<style>
  img{ border:2px solid #999; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
</style>
<main>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://cdn.discordapp.com/attachments/837256100067409940/849575899560017920/a_1e94cf8a957c16068cfd2bbcf4c70a1a.png" alt="" width="80" height="80">
    <h1 class="display-5 fw-bold">Angel Code Share</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bdfd,Aoi.js ve Discord.js Kodları İle Bot Yapabilirsiniz. Html,Css Kodları İlede Siteler Yapabilirsiniz.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a style="box-shadow:none" class="btn btn-danger btn-lg px-4 gap-3" href="https://youtube.com/channel/UC_PyS_CVMkEfXCrwg927p1g"><i class="bi bi-youtube"></i> Youtube Kanalımız</a>
        <a style="box-shadow:none" href ="/dc" class="btn btn-outline-light btn-lg px-4"><i class="bi bi-discord"></i> Discord Sunucumuz</a>
      </div>
    </div>
  </div>
</main>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2783231188593099"

crossorigin="anonymous"></script>