<br>
<div class="container">
<center>
<h2 class="display-6 text-center mb-4">Discord.js Kodları</h2>
   <div class="input-group mb-3">
  <span class="input-group-text border border-light" style="box-shadow:none; background-color:#363940; color:white" id="basic-addon1"><i class="bi bi-search"></i></span>
  <input type="search" id="search" class="form-control border border-light" style="box-shadow:none; background-color:#363940; color:white" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  {{#each kodlar}}
  <div style="box-shadow:none; background-color:#363940; color:white" class="card text-center border border-light">
  <div class="card-body">
    <h5 class="card-title">{{this.isim}}</h5>
    <p class="card-text">{{this.bilgi}}</p>
    <a href="/discordjs/{{this.id}}" class="btn btn-outline-light" style="box-shadow:none">Koda Bak</a>
  </div>
  </div><br class="sa">
  {{/each}}
  </center>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#search").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".card, .sa").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
