<br />
<div class="container">
  <h2 class="display-6 text-center mb-4">Kod Paylaş</h2>
  <form method="POST" action="paylas">
    <div class="form-floating mb-3">
      <input
        type="text"
        name="isim"
        style="box-shadow:none; background-color:#363940; color:white"
        class="form-control border border-light"
        id="floatingInput"
        placeholder="Kod İsmi"
        required
      />
      <label for="floatingInput">Kod İsmi</label>
    </div>
    <div class="form-floating mb-3">
      <input
      type="text" name="bilgi" style="box-shadow:none; background-color:#363940;
      color:white" class="form-control border border-light" id="floatingInput"
      placeholder="Kod İsmi" required />
      <label for="floatingInput">Kod Açıklaması</label>
    </div>
    <select
      name="rank"
      class="form-select border border-light"
      style="box-shadow:none; background-color:#363940; color:white"
      aria-label="Default select example"
    >
      <option value="bdfd">BDFD</option>
      <option value="aoijs">AOI.js</option>
      <option value="discordjs">D.JS</option>
      <option value="altyapi">Altyapı</option>
      <option value="html">HTML</option>
    </select><br />
    <div class="form-floating">
      <textarea
        style="box-shadow:none; background-color:#363940; color:white;height:350px;"
        name="kod"
        class="form-control border border-light"
        placeholder="Leave a comment here"
        id="floatingTextarea"
      ></textarea>
      <label for="floatingTextarea">Kod</label>
    </div><br />
    <center>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button
          type="submit"
          style="box-shadow:none"
          class="btn btn-outline-light"
        >Gönder</button>
        <button
          type="reset"
          style="box-shadow:none"
          class="btn btn-outline-light"
        >Sıfırla</button>
      </div>
    </center>
  </form><br />
  <hr />
  <h2 class="display-6 text-center mb-4">Kod Sil</h2>
  <form method="POST" action="sil">
    <div class="input-group mb-3">
      <input
        type="text"
        name="id"
        class="form-control border border-light"
        style="box-shadow:none; background-color:#363940; color:white"
        placeholder="Kod ID"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <select
        name="rank"
        class="form-select border border-light"
        style="box-shadow:none; background-color:#363940; color:white"
        id="inputGroupSelect01"
      >
        <option value="bdfd">BDFD</option>
        <option value="aoijs">AOI.js</option>
        <option value="discordjs">D.js</option>
        <option value="altyapi">Altyapı</option>
        <option value="html">HTML</option>
      </select>
      <button
        style="box-shadow:none"
        class="btn btn-outline-light"
        type="submit"
        id="button-addon2"
      >Sil</button>
    </div></form>
  <hr />
  <h2 class="display-6 text-center mb-4">Kod Düzenle</h2>
  <form method="POST" action="edit">
    <div class="form-floating mb-3">
      <input
        type="text"
        name="id"
        style="box-shadow:none; background-color:#363940; color:white"
        class="form-control border border-light"
        id="floatingInput"
        placeholder="Kod ID"
        required
      />
      <label for="floatingInput">Kod ID</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        name="isim"
        style="box-shadow:none; background-color:#363940; color:white"
        class="form-control border border-light"
        id="floatingInput"
        placeholder="Kod İsmi"
        required
      />
      <label for="floatingInput">Kod İsmi</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        name="bilgi"
        style="box-shadow:none; background-color:#363940; color:white"
        class="form-control border border-light"
        id="floatingInput"
        placeholder="Kod İsmi"
        required
      />
      <label for="floatingInput">Kod Açıklaması</label>
    </div>
    <select
      name="rank"
      class="form-select border border-light"
      style="box-shadow:none; background-color:#363940; color:white"
      aria-label="Default select example"
    >
      <option value="bdfd">BDFD</option>
      <option value="aoijs">AOI.js</option>
      <option value="discordjs">D.js</option>
      <option value="altyapi">Altyapı</option>
      <option value="html">HTML</option>
    </select><br />
    <div class="form-floating">
      <textarea
        style="box-shadow:none; background-color:#363940; color:white;height:350px;"
        name="kod"
        class="form-control border border-light"
        placeholder="Leave a comment here"
        id="floatingTextarea"
      ></textarea>
      <label for="floatingTextarea">Kod</label>
    </div><br />
    <center>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button
          type="submit"
          style="box-shadow:none"
          class="btn btn-outline-light"
        >Gönder</button>
        <button
          type="reset"
          style="box-shadow:none"
          class="btn btn-outline-light"
        >Sıfırla</button>
      </div>
    </center>
  </form>
</div>
<br />