<main>
  <div class="px-4 py-5 text-center">
  <h2 class="display-6 text-center mb-4">Tavsiye Ver</h2>
  <form method="POST" action="tavsiye">
  <select name="rank" class="form-select border border-light" style="box-shadow:none; background-color:#363940; color:white" aria-label="Default select example">
  <option value="bdfd">BDFD</option>
  <option value="aoijs">AOI.js</option>
    <option value="discordjs">D.JS</option>
    <option value="altyapi">Altyapı</option>
    <option value="html">HTML</option>
  </select><br>
    <div class="form-floating">
  <textarea name="yazi" class="form-control border border-light" style="box-shadow:none; background-color:#363940; color:white" placeholder="Tavsiye Mesajı" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Tavsiye Mesajı</label>
    </div><br>
      <center>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="submit" style="box-shadow:none" class="btn btn-outline-light">Gönder</button>
  <button type="reset" style="box-shadow:none" class="btn btn-outline-light">Sıfırla</button>
    </div>
      </center>
    </form>
    </div>
    </main>